<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h2>Хирургическая стоматология</h2>
            </div>
            <div class="card-body">
              <p>
                Хирургическая стоматология - это отрасль стоматологии,
                отвечающая за профилактику, диагностику и лечение болезней
                полости рта и челюстно-лицевой области путем оперативного
                вмешательства.
              </p>
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/surgery1.png" />
                </div>
                <div class="col-md-8">
                  <p>
                    В наши дни хирургическая стоматология направлена на
                    максимальное сохранение зубов. Различные виды резекций
                    верхушки корня, установка барьерных мембран, пластика
                    слизистой оболочки полости рта и другие операционные
                    мероприятия, проводимые специалистами хирургической
                    стоматологии, тесно связаны с лечебными мероприятиями
                    терапевта, пародонтолога, ортопеда или ортодонта. В
                    настоящее время функции врача стоматолога-хирурга не
                    ограничиваются только удалением зубов. Пластика слизистой
                    оболочки полости рта уже в детском и подростковом возрасте
                    помогает избежать проблем, связанных с отслоением и
                    травматизмом десен из-за коротких уздечек губ.
                    Логопедические проблемы детей могут провоцироваться короткой
                    уздечкой языка. Взрослые пациенты, имеющие проблемы в
                    протезировании, после операций, направленных на коррекцию
                    десневых тканей, в конечном результате имеют эстетически
                    полноценные протезы.
                  </p>
                </div>
              </div>
              <p>
                Одной из самых частых операций в стоматологической практике
                является удаление зубов. Удаление зубов может проводиться по
                неотложным показаниям и в плановом порядке.
              </p>
              <div class="row">
                <div class="col-md-8">
                  <p>
                    <br /><br /><br />
                    По неотложным показаниям удаляют зуб, являющийся источником
                    инфекции: при остром остеомиелите; лимфадените; когда зубы
                    не подлежат консервативному лечению и не представляют
                    функциональной ценности. В порядке неотложной помощи
                    необходимо удаление зубов при: продольном переломе; переломе
                    коронковой части с обнажением пульпы (корневой части зуба),
                    если его коронку невозможно восстановить путем пломбирования
                    или ортопедического лечения. Удаление зубов в плановом
                    порядке: при подвижности 3-й степени и выдвижении зуба
                    (верообразное расхождение зубов), вследствие рассасывания
                    кости вокруг альвеолы лунки, где помещен зуб в челюсти, при
                    тяжелой форме пародонтита; при полном разрушении коронковой
                    части зуба (под десневой бороздкой), невозможности
                    использовать оставшийся корень для зубного протезирования.
                  </p>
                </div>
                <div class="col-md-4">
                  <img src="assets/img/surgery2.PNG" />
                </div>
              </div>
              <p>
                <b>Примечание: </b>Существует ряд хирургических операций,
                позволяющих сохранить корень для дальнейшего ортопедического
                лечения (протезирования). Это гемисекция или ампутация корня,
                когда удаляется один корень у 2-х или 3-х корневого зуба
                ("больной" корень, например, с кистой). Для этого "больной"
                корень отделяется от зуба бором (если место фуркации - место
                соединения корней зуба между собой не разрушено) и извлекается
                из лунки специальными инструментами. Если коронковая часть
                разрушена и оставшийся корень находится под десной, то
                проводится иссечение десны (гингевопластика) и обнажение корня
                для его дальнейшего использования для протезирования. Иногда
                кроме иссечения десны удаляется часть кости (альвеолы) вокруг
                корня (для создания хороших условий для фиксации ортопедической
                конструкции, т.е. искусственной коронки). В плановом порядке
                практикуется удаление зубов, которые расположены неправильно
                (дистопированы), травмируют слизистую оболочку рта и языка и не
                подлежат ортодонтическому лечению. Такие зубы удаляются и по
                эстетическим показаниям.
              </p>
              <p>
                <b>Удаление зубов</b>, не прорезавшихся в срок или частично
                прорезавшихся, вызывающих воспалительный процесс в окружающих
                тканях, ликвидировать которые другим путем невозможно (феномен
                Попова-Годона). Выдвинувшиеся в результате потери антагониста
                (зуб на другой челюсти) зубы, сходящиеся или расходящиеся зубы,
                мешающие изготовлению функционального протеза.
              </p>
              <p>
                <b>Удаление зубов</b> при невозможности консервативного лечения
                из-за значительного разрушения коронки зуба.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
