<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h2>Ортодонтия</h2>
            </div>
            <div class="card-body">
              <p>
                У некоторых людей имеются дефекты развития зубного ряда и
                челюстно-лицевого скелета. Подобные осложнения возникают в
                детском возрасте, когда зубы только начинают сформировываться.
                При проблемах в развитии зубного ряда достаточно проблематично
                правильно ухаживать за ротовой полостью. Проблемы возникают и во
                время приёма пищи, так как на челюстные мышцы оказывается
                нагрузка, которая приводит к пульсирующим головным болям.
                Узнаем, что такое ортодонтия и как стоматологи проводят
                процедуру лечения.
              </p>
              <h4>Что такое ортодонтия?</h4>
              <p>
                Ортодонтия - это одно из направлений в стоматологии. Врачи,
                которые осуществляют деятельность в этом направлении, называются
                ортодонтами. Ортодонтическое лечение направлено на диагностику,
                профилактику и лечению аномалий развития зубного ряда. После
                прохождения полного курса лечения у специалиста, человек сможет
                избавиться от дефектов развития аномалий зубного ряда и получить
                идеальную улыбку. После лечения человек больше не будет ощущать
                головные боли после приёма пищи, пройдут боли в области шеи и
                спины. Таким образом, лечение отразится не только на зубном
                ряде, но и на всём организме.
              </p>
              <h4>Методы лечения, применяемые в ортодонтии</h4>
              <p>
                В ортодонтии обычно применяется только два метода лечения - это
                аппаратный и хирургический методы. Назначаются они в зависимости
                от тяжести дефекта. Крайне редко используется комбинированный
                метод, в котором применяется и хирургическое вмешательство, и
                специальные конструкции. Рассмотрим каждый метод.
              </p>
              <h6>Аппаратный метод</h6>
              <p>
                Суть использования такого метода в том, что человеку
                устанавливается съёмная или несъёмная конструкция. Это могут
                быть брекеты, пластины, фиксаторы или специальные каппы, в общем
                используются приспособления для механического выравнивания
                зубного ряда с длительным непосредственным воздействием. Другими
                словами, используемая конструкция оказывает давление на челюсть
                и на зубы в отдельности. Благодаря постоянному давлению спустя
                месяцы зубы выравниваются.
              </p>
              <h6>Хирургический метод</h6>
              <p>
                Данный метод лечения используется крайне редко и только в самых
                проблемных ситуациях. Стоматолог прибегает к хирургическому
                вмешательству, так как аппаратный метод не может уменьшить или
                увеличить челюсть человека до нужных размеров. Пациент, которому
                был назначен данный метод лечения, проходит хирургическую
                операцию. Стоит отметить дополнительный метод лечения -
                функциональный метод. Специалисты редко используют его для
                самого лечения. Чаще всего он применяется уже после полного
                лечения зубных рядов. Дело в том, что функциональный метод - это
                гимнастика для мышц, которая направлена на улучшении сил
                организма. Если проводить гимнастику каждый день, то лицевые
                мышцы будут правильно функционировать, что позволит в будущем
                избежать проблемы с ротовой полостью.
              </p>
              <h4>Конструкции, применяемые в ортодонтии</h4>
              <p>
                Уже говорилось, что в ортодонтии для лечения аномалии зубных
                рядов используют как несъёмные, так и съёмные конструкции. Врач,
                который проводит лечение, обязан правильно диагностировать
                аномалию и подобрать подходящий метод коррекции. В случае
                неправильного подбора конструкции, на зубной ряд может либо не
                оказываться положительного воздействия, либо лечение будет
                крайне неэффективным. После установления конструкции в ротовую
                полость, на зубы и на челюсть будет оказываться постепенное
                давление, которое приведет к полному излечению аномалии.
              </p>
              <h6>Брекеты</h6>
              <p>
                Брекеты относятся к несъёмным конструкциям и являются самым
                востребованным методом лечения. Человек, который использует
                брекеты для лечения, будет носить их от одного до двух лет. Срок
                зависит от степени осложнения и определяется индивидуально, а
                также может быть увеличен в процессе лечения (например, если
                пациент пропускает несколько приемов у ортодонта). Следует
                заметить, что брекеты устанавливаются на зубной ряд с помощью
                специального материала, напоминающего по своему действию клей.
                Дуга, которая устанавливается вместе с брекетами, оказывает
                постепенно давление и на челюсть, и на сами зубы в отдельности.
                Благодаря оказываемому давлению зубы постепенно приближаются или
                разобщаются, в зависимости от патологий и назначения врача. Один
                раз в месяц-полтора необходимо подтягивать их, так как за это
                время зубы меняют свое положение в зависимости от поставленной
                задачи врача. Благодаря развитию стоматологической индустрии
                появились удобные и малозаметные брекеты. Для детей были созданы
                цветные конструкции, а для взрослых - прозрачные. Благодаря
                такому развитию люди, которые используют брекеты для лечения
                дефектов развития зубов, могут использовать конструкцию и при
                этом вести привычный образ жизни.
              </p>
              <h6>Каппы для верхней или нижней челюсти</h6>
              <p>
                Подобные каппы являются альтернативой брекетам. Используют
                подобные конструкции преимущественно взрослые, так как при
                деловых разговорах пластину можно снять на некоторое время.
                Приспособления полностью прозрачные, что делает их использование
                максимально комфортным. Принцип действия у них такой же, как и у
                брекетов. Каппы оказывают давление на зубные ряды, благодаря
                чему зубы двигаются друг к другу.
              </p>
              <h4>Профилактика. Зачем ходить к врачу ортодонту?</h4>
              <p>
                Проблемы с зубами начинаются в раннем возрасте, когда у ребенка
                только начинают появляться молочные зубы. И часто они являются
                проблемными из-за неправильного ухода за ними. У ребенка может
                появиться кариес или образоваться какой-либо дефект, который
                будет развиваться, но родители пустят это на самотек в связи с
                тем, что «молочные зубы все равно выпадут». Но родители должны
                помнить, что лечить молочные зубы необходимо, так как проблема
                будет развиваться и на постоянные зубы и на прикус. Поэтому
                важно правильно ухаживать за ротовой полостью с детства.
                Женщина, которая только вынашивает ребенка, должна правильно
                следить за своим здоровьем. Вся еда и напитки, которые
                употребляет будущая мама, влияют на развитие ребенка и особенно
                важно поддерживать постоянно уровень фтора и кальция, чтобы они
                находились на достаточном уровне.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
