<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h2>Теравпевтическая стоматология</h2>
            </div>
            <div class="card-body">
              <p>
                В рамках терапевтической стоматологии проводится лечение таких
                болезней как: кариес, пульпит, периодонтит, стоматит,
                заболевания корневых каналов зуба и др.
              </p>
              <p>
                <b>Кариес:</b> причины возникновения и лечение. Это заболевание
                является наиболее распространенным. На процесс развития данной
                патологии влияют различные факторы, в число которых входит:
              </p>
              <ul>
                <li>гигиена ротовой полости;</li>
                <li>состояние иммунитета;</li>
                <li>состояние зубной эмали;</li>
                <li>вредные привычки (курение);</li>
                <li>особенности питания больного.</li>
              </ul>
              <p>
                У человека, больного кариесом, отмечается постепенное разрушение
                костной ткани зуба. Для спасения области полости рта,
                подверженной кариесу, необходима своевременная диагностика: в
                подобном случае применяется методика лечения, завершающим этапом
                которой является <b>пломбирование</b>. Цена лечения в таком
                случае варьируется в зависимости от множества факторов. Так, в
                стоимость работ по восстановлению зуба входят:
              </p>
              <ul>
                <li>
                  анестезия и использование специального препарата, снижающего
                  чувствительность участка полости рта, на который ставится
                  укол;
                </li>
                <li>
                  специальная обработка области полости рта, подвергаемой
                  лечению, стерильным одноразовым инструментом;
                </li>
                <li>
                  применение пескоструйной технологии при снятии налета с
                  больного зуба для обеспечения надежной фиксации пломбы в
                  дальнейшем; удаление старой пломбы;
                </li>
                <li>
                  укрепление зуба изнутри путем установления специальной
                  прокладки, содержащей кальций и фтор и обеспечивающий
                  выделение данных веществ после установления пломбы;
                </li>
                <li>
                  использование специального кариес-индикатора – геля, чье
                  применение способствует обнаружению вредного налета на
                  оборотной стороне зуба;
                </li>
                <li>
                  установка новой пломбы, не отличающейся по цвету от другой
                  части зуба;
                </li>
                <li>
                  полировка, состоящая из покрытия зуба специальным защитным
                  глянцем;
                </li>
                <li>
                  закрепление полученного результата обработкой зуба специальным
                  веществом – фтором.
                </li>
              </ul>
              <p>
                Также, особенной популярностью пользуется восстановление эмали,
                позволяющее лечить множество видов этого заболевания.
              </p>
              <h4>
                Заболевания корневых каналов зуба: симптомы и лечение пульпита и
                периодонтита.
              </h4>
              <div class="row">
                <div class="col-md-8">
                  <p>
                    <b>Корневой канал</b> – внутренняя полость зуба, лечение
                    которой является одной из главных процедур терапевтической
                    стоматологии. Именно в ней находится пульпа (основные
                    нервные скопления), которая имеет способность очень быстро
                    реагировать на различные раздражения воспалением. Одной из
                    главных причин воспаления является кариес (кариозные
                    бактерии со временем разрушают эмаль, проникая в пульпу и
                    провоцируя воспалительные процессы).Игнорирование кариеса
                    может привести к таким заболеваниям как пульпит и
                    периодонтит.
                  </p>
                </div>
                <div class="col-md-4">
                  <img src="assets/img/therapy1.jpg" />
                </div>
              </div>
              <p>
                <b>Пульпит</b>. Это заболевание является результатом запущенного
                кариеса или, как правило, неправильного лечения зуба, внутрь
                которого попадает инфекция, что приводит к воспалению нерва.
                Пульпит сопровождается болезненными ощущениями при резкой смене
                температур внутри полости рта. В основе метода лечения данной
                патологии лежит удаление зараженных тканей.
              </p>
              <p>
                <b>Периодонтит</b>. К периодонтиту приводит, как правило,
                запущенное состояние участка ротовой полости, пораженного
                пульпитом. При игнорировании пульпита, инфекция проникает к
                самому основанию зуба, вызывая пульсирующую боль даже при
                незначительном контакте с пищей. Подобные ощущения не могут
                пройти «сами собой», поэтому больному следует немедленно
                обратиться ко врачу за надлежащем лечением. В противном случае
                существует целый ряд опасностей (переход в более сложную –
                хроническую форму данного заболевания и т.д.), главную из
                которых представляет разрушение тканей, отвечающих за фиксацию
                зуба.
              </p>
              <img src="assets/img/therapy2.png" />
              <p>
                Лечением заболеваний полости рта подобного характера занимается
                эндодонтическая терапия. Как правило, оно включает в себя:
              </p>
              <ul>
                <li>предварительное обезболивание зуба;</li>
                <li>отчистка от ротовой жидкости;</li>
                <li>обеспечение доступа к пульпе;</li>
                <li>отчистка корневого(ых) канала(ов);</li>
                <li>дальнейшее пломбирование.</li>
              </ul>
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/therapy3.jpg" />
                </div>
                <div class="col-md-8">
                  <p>
                    Стоит отметить, что этот раздел стоматологии развивается с
                    каждым годом. Проще говоря, достижения в сфере
                    терапевтической стоматологии позволяют современному человеку
                    преодолеть устоявшиеся представления о посещении
                    стоматолога, как о процессе крайне неприятном и болезненном.
                    Современное оборудование дает возможность избавляться от
                    множества заболеваний ротовой полости не только быстро, но и
                    безболезненно.
                  </p>
                </div>
              </div>
              <p>
                В рамках терапевтической стоматологии проводится не только
                лечение, но и
                <b>различные работы реставрационного характера</b>, для того
                чтобы вернуть зубу прежний вид. Подобные работы доступны моим
                пациентам.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
