<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h2>
                Все, что нужно знать об ортопедии в стоматологии:
                предназначение, возможности, варианты лечения
              </h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/ortopediya2.webp" />
                </div>
                <div class="col-md-9">
                  <p>
                    Ортопедия в стоматологии – что это такое? Не будем вдаваться
                    в этимологию и значение греческих слов, заложенных в
                    названии. Ортопедия – раздел стоматологии, предусматривающий
                    профилактические меры и лечение приобретенных патологий,
                    аномалий, деформаций и повреждений всех органов
                    речеобразующего и жевательного аппарата. Задачи, которые
                    решает ортопед в стоматологической клинике:
                  </p>
                  <ul>
                    <li>профилактика возникновения дефектов зубов;</li>
                    <li>
                      искусственное восстановление зубных тканей, которые были
                      утрачены;
                    </li>
                    <li>
                      профилактика деформаций зубов и челюсти, лечение и
                      корректировка деформаций.
                    </li>
                  </ul>
                </div>
              </div>
              <p>
                Ключевой инструмент ортопедической стоматологии в нынешнее время
                – зубное протезирование.
              </p>
              <h4>Возможности стоматолога-ортопеда</h4>
              <p>
                Современный ортопед занимается восстановлением зубов (отдельных
                и ряда), а также протезированием. Восстановление — не только
                достижение эстетичности, но и возврат функций зубов.
                Специализация ортопеда охватывает съемные, несъемные и
                условно-съемные протезы. К стоматологу-ортопеду нужно придти
                несколько раз. Во время первого визита он определит повреждения
                зубного ряда, тяжесть этих повреждений и возможность устранения.
                Проще говоря, он составит план лечения, который может включать:
              </p>
              <ul>
                <li>
                  отслеживание состояния полости рта, подготовку к проведению
                  протезирования;
                </li>
                <li>проведение набора ортопедических манипуляций;</li>
                <li>
                  подбор метода восстановления или варианта протезирования;
                </li>
                <li>выбор вида протеза и его установку.</li>
              </ul>
              <p>
                Не исключено, что в процессе подготовки у пациента обнаружат
                проблемы, которые нужно исправить до протезирования: например,
                кариес или периодонтит.
              </p>
              <h4>
                С какими проблемами поможет справиться стоматолог-ортопед?
              </h4>
              <div class="row">
                <div class="col-md-8">
                  <p>
                    Лучше всего понять, что такое ортопедия в стоматологии,
                    поможет перечень вопросов, которые может решить только
                    ортопед. Сразу стоит сказать, что решение этих проблем
                    доступно только ортопеду: хирургия и терапия в этих
                    ситуациях малоэффективны:
                  </p>
                  <ul>
                    <li>
                      Сильное разрушение зуба из-за кариеса или механического
                      воздействия, которое невозможно исправить с помощью
                      пломбы.
                    </li>
                    <li>Патологические процессы в зубных твердых тканях.</li>
                    <li>Некроз твердых зубных тканей.</li>
                    <li>номалии, повилявшие на форму зубов.</li>
                    <li>Патологическая стираемость.</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <img src="assets/img/ortopediya3.webp" />
                </div>
              </div>
              <p>
                Ортопед понадобится, и если нужно исправить небольшой дефект:
                сколы, царапины, неправильное расположение здоровых зубов и
                другие проблемы.
              </p>
              <h4>Как восстанавливает зубы стоматолог-ортопед?</h4>
              <p>
                Мы выяснили, что обращаться к ортопеду необходимо, если
                установка пломбы и реставрация поверхностного типа не в
                состоянии спасти зуб. Для восстановления доктор применяет:
              </p>
              <ul>
                <li>
                  Виниры – керамические или фарфоровые пластинки небольшой
                  толщины. Выполняют преимущественно эстетическую функцию: с
                  помощью них чаще всего корректируют внешний вид фронтальных
                  зубов.
                </li>
                <li>
                  Вкладки – их используют при хотя бы частичной сохранности
                  коронковой части зубов.
                </li>
                <li>
                  Коронки – подходят для восстановления зубов с удаленной
                  пульпой. За несколько сеансов ортопед готовит зуб, делает
                  слепок, а после устанавливает протез, полностью
                  соответствующий коронковой части, которая была потеряна.
                </li>
              </ul>
              <h4>Протезирование: если зуб восстановить невозможно</h4>
              <div class="row">
                <div class="col-md-8">
                  <p>
                    В большинстве случаев, рассматривая, что такое ортопедия в
                    стоматологии, многие подразумевают как раз протезирование.
                    Его стоматолог-ортопед применяет в случаях, если
                    восстановление зуба провести невозможно или если он уже
                    удален. Доктор для восстановления зубного ряда использует
                    несъемные, частично съемные и съемные варианты
                    протезирования. Если речь идет о потере одного зуба, лучшим
                    вариантом станет применение импланта: корня и коронки,
                    сделанных из специальных надежных материалов. Это достаточно
                    затратный, но лучший на данный момент вариант. Если потеряно
                    несколько зубов, и установка одиночных имплантов не будет
                    эффективной, ортопед может предложить мостовидный протез:
                    конструкцию, способную заместить несколько коронковых зубных
                    частей. Если диагностирована почти полная потеря зубов,
                    вариантом может стать изготовление съемных протезов, которые
                    можно зафиксировать посредством естественной присасывающей
                    силы либо с применением специального клея.
                  </p>
                  <h4>5 причин, чтобы обратиться ко мне</h4>
                  <ul>
                    <li>Огромный профессиональный потенциал и опыт</li>
                    <li>Использование современных методик лечения.</li>
                    <li>
                      Применение инновационных материалов для протезирования.
                    </li>
                    <li>Комплексный подход и гарантированный результат.</li>
                    <li>Решение проблем любой сложности у детей и взрослых.</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <img src="assets/img/ortopediya1.JPG" />
                </div>
              </div>
              <h4>
                Главные инструменты ортопеда: микропротезирование, съемное и
                несъемное протезирование
              </h4>
              <h6>Микропротезирование</h6>
              <p>
                Как мы уже рассмотрели, эту методику используют в случае, если
                сохранена большая половина зуба, но потерян презентабельный вид
                или утрачена функциональность. Применение виниров или вкладок
                позволит за краткий период восстановить эстетичность и функции.
                При этом пластинки не изменят свою форму, не поцарапаются и не
                потеряют цвет при ношении. Стоматолог-ортопед перед установкой
                микропротеза должен немного сточить эмаль зуба – до 0,7 мм. Это
                нужно, чтобы компенсировать толщину винира или накладки и чтобы
                они не доставляли дискомфорта в период привыкания. Пациенту
                вводят анестезирующий препарат, поэтому болевых ощущений в
                период подготовки нет. Отказаться от ношения виниров уже нельзя:
                их нужно носить всю жизнь, периодически меняя (примерно раз 10
                лет).
              </p>
              <h6>Постоянное протезирование</h6>
              <p>
                К постоянным протезам относят мосты и коронки. С помощью них
                можно протезировать зуб или восстанавливать несколько утраченных
                зубов в ряду, добиваясь эстетичности и функциональности.
              </p>
              <ul>
                <li>
                  Коронка представляет собой зубной протез несъемного типа,
                  предназначенный для воссоздания видимой части зуба. По форме
                  она похожа на колпачок. Каждую коронку изготовляют
                  индивидуально в лабораторных условиях, а затем устанавливают
                  на имплант или обработанный зуб. Установка коронки требует
                  подготовки зуба: стоматолог-ортопед стачивает его до состояния
                  небольшой заготовки. Если речь идет об импланте вместо зуба,
                  то изготовлять коронку можно только после полного заживления.
                  Коронки после изготовления на основе слепка и примерки доктор
                  крепит на сверхпрочный цемент. Лучшими коронками считаются
                  керамические и металлокерамические. Первые обычно применяют
                  для фронтальных зубов, вторые – для жевательных.
                </li>
                <li>
                  Мостовидные протезы можно условно назвать теми же коронками.
                  Отличие в том, что они объединены в общую конструкцию и
                  способны заместить несколько зубов сразу. Из преимуществ –
                  меньше времени на создание протеза (соответственно, стоимость
                  тоже ниже). Для крепления мостов стоматолог-ортопед использует
                  телескопические коронки, реже – вкладки.
                </li>
              </ul>
              <h6>Съемное протезирование</h6>
              <p>
                Второе название – «вставные зубы». В народе съемные протезы
                прочно ассоциируют с пожилым возрастом. Но по факту ортопед
                может посоветовать их установку в любом возрасте. Например,
                детям может понадобиться съемный протез после удаления первых
                (молочных) зубов. Это актуально, если одновременно отсутствуют
                резцы и моляры в ряду: без протеза может начаться искривление
                других зубов (в итоге и постоянные зубы вырастут кривыми).
                Особенность этих протезов в возможности снять/надеть их в любой
                нужный момент. Этот факт значительно облегчает уход за ними, а
                еще минимизирует риски в процессе установки. Например, в
                преклонном возрасте опасно проводить имплантацию зубов – поэтому
                протезы съемного типа являются едва ли не единственным решением.
                Наша клиника предлагает полный спектр ортопедических услуг с
                профессиональным подходом, гарантированным результатом и
                оптимальными ценами.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
