<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
            #userName
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
            #password
          />
        </mat-form-field>
      </p>

      <p
        *ngIf="
          this.form.get('password')?.invalid &&
          this.form.get('password')?.touched
        "
        class="error"
      >
        Password must contain minimum eight characters, at least one letter, one
        number and one special character:
      </p>

      <div class="button">
        <button [disabled]="form.invalid" type="submit" mat-button>
          Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
