<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h2>Памятки пациентам</h2>
            </div>
            <div class="card-body">
              <h4>Памятка при лечении под седацией</h4>
              <ul>
                <li>
                  Прием аспиринов необходимо прекратить за 2 дня, прием своих
                  постоянных лекарств - продолжить.
                </li>
                <li>
                  При приеме Варфарина и других коагулянтов необходима
                  консультация с врачом-анестезиологом для перевода на другие
                  препараты
                </li>
                <li>
                  За 3 часа до операции необходим легкий перекус (каша, йогурт и
                  т.п.), после него запрещено есть и пить.
                </li>
                <li>
                  Желательно иметь сопровождающего и/или встречающего после
                  операции, при невозможности - добраться до дома после операции
                  на такси (при необходимрсти сотрудник клиники Firadent&Co
                  вызовет его для вас)
                </li>
              </ul>
              <h4>Рекомендации перед проведением имплантации зубов</h4>
              <ul>
                <li>
                  Накануне и в день операции запрещено употреблять алкоголь и
                  стимулирующие напитки (энергетические напитки, чай, кофе и
                  другие). Воду пить умеренно.
                </li>
                <li>Обязательная тщательная чистка зубов в день операции.</li>
                <li>
                  За 3 часа до операции необходим легкий перекус (каша, йогурт и
                  т.п.), после него запрещено есть и пить.
                </li>
              </ul>
              <h4>Список анализов перед проведением имплантации зубов</h4>
              <ul>
                <li>Анализ крови с лейкоцитарной формулой + СОЭ</li>
                <li>
                  Коагулограмма: АЧТВ, МНО, Фибриноген, Протромбин,
                  Протромбиновый индекс
                </li>
                <li>
                  Биохимия: общий белок, Белковые фракции, Мочевина, Креатинин,
                  Билирубин (прямой, непрямой), АЛТ, АСТ, ЩФ, К, N, Ca
                </li>
                <li>Глюкоза</li>
                <li>ВИЧ</li>
                <li>Гепатит В,С</li>
                <li>RW</li>
                <li>Группа крови, резус-фактор</li>
                <li>ЭКГ</li>
              </ul>
              <h4>Правила сдачи анализов</h4>
              <ul>
                <li>Благоприятное время для сдачи анализов - утренние часы</li>
                <li>
                  Большинство из указанных анализов сдаются натощак (не менее 12
                  часов от последнего приема пищи), поэтому не рекомендуется
                  поздний ужин накануне и завтрак в день сдачи. Воду пить можно.
                </li>
                <li>
                  Накануне сдачи крови требуется воздерживаться от алкоголя,
                  физических нагрузок, следует придерживаться привычного режима
                  дня и питания
                </li>
                <li>За 2 часа до сдачи крови запрещено курить</li>
                <li>
                  Накануне сдачи крови рекомендуется воздержаться от приема
                  лекарств (за исключением лекарств жизненной необходимости)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
